h2{
    color:rgb(0, 119, 255);
}
#gmail{
    color: rgb(232, 88, 4);
}
#menu{
background-color: rgb(15, 104, 139);
padding: 15px ;
box-shadow: 5px 5px 5px;
}
#menu li {
    list-style: none;
    display: inline-block;
    font: bold 20px ;
    text-decoration: none;
    padding-left: 50px ;

}
a{
 text-decoration: none;
color: white;
}
#fondoPag{
    background-color: rgb(142, 241, 208);
}

#colorboton {
    color: rgb(0, 0, 0);
    border: 30 px ;
    background-color: rgb(13, 103, 13);
    height: 300px;
    box-shadow: 5px 5px 15px 2px gray;

}

#video {
    width: 100%;
}
